rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow full access to feedback
    match /feedback/{document} {
      allow read, write: if true;
    }
    
    // Allow full access to contacts
    match /contacts/{document} {
      allow read, write: if true;
    }
    
    // Allow full access to testimonials
    match /testimonials/{document} {
      allow read, write: if true;
    }
  }
}